.navbar {
    background-color: rgb(0 0 0);
    display: flex;
    justify-content: center;
}

.li:hover {
    width: 200px;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 730px) {
    .navbar{
        display: flex;
        flex-direction: row;
    }
    .menu-icon{
        display: block;
    }
    .menu-icon.open {
        display: block;
        margin-left: 478px;
    }

    .menu-list {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .menu-list.open {
        display: grid;
    }

    .li{
       margin-left: 48px;
    }

    .li:hover {
        width: auto;
    }

}
