body {
    font-family: Arial, sans-serif;
}

.cont {
    justify-items: center;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 650px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    content: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.h3-2 {
    margin-top: 0px;
}

.card p {
    color: #555;
}

.img2{
    margin-top: 20px;
}

.h3-1{
    margin-top: 15px;
}

@media (max-width:730px) {
    .cont{
        display: grid;
    }
    .card{
        height: auto;
        width: auto;
    }
}